# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Own
.vscode/
prj/dat/drone/corpus/*.dat
prj/dat/drone/rotor/*.dat
prj/dat/scene_obj/*.dat
dox/doxy.log
dox/html/
prj/bin/drone_steering
